@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin-bottom: 5px;
}

.jc-n {
    justify-content: space-between;
    padding: 10px 10px;
}

.bar {
    justify-content: space-around;
    align-items: center;
}

.navbar {
    overflow: hidden;
    justify-content: space-between !important;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0%;
}

.logo h1 {
    margin-left: 20px;
}

.logo img {
    filter: invert(100);
}

.hide {
    display: none;
}

.item-list {
    padding: 0.2rem 0.5rem;
    color: rgb(226, 218, 218);
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    margin: 1.3rem;
}

.item-list:hover {
    background-color: rgb(219, 9, 97);
    color: rgb(238, 222, 222);
    transition: background-color 0.35s;
    border-radius: 1rem;
}

/* *************pc view********* */
@media screen and (min-width: 800px) {
    #bar {
        display: none;
    }

    .jc-n {
        justify-content: center;
        align-items: center;
    }

    li a {
        margin-bottom: 1.5rem;
    }

    .navbar {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #item {
        display: flex;
        flex-direction: row;
    }

    li {
        margin-bottom: -2px;
    }
}

/* ***************body***************** */
.body::before {
    content: "";
    background: linear-gradient(rgba(3, 134, 209, 0.3), rgba(19, 16, 225, 0.3)), url("./img/back.jpg") no-repeat fixed center/cover;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    top: 5%;
    height: 30%
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Tapestry', cursive;
    font-size: 2.5rem;
}

.first {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.first_div {
    margin-top: 7rem;
}

/* ***************about************** */
.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about {
    margin-top: 3.5rem;
}

.content p {
    color: black;
    font-family: 'Tapestry', cursive;
    font-size: 2.5rem;

}

.content {
    border-radius: 20px;
    border: thick solid #0b0b0d;
}

/* ******************extra div**************** */
.extra-div div {
    border: medium 2px;
    color: black;
    margin: 25px 20px;
    padding: 15px !important;
    border-radius: 29px;
    font-family: 'Syne Mono', monospace;
    background-color: rgb(87, 230, 230);
}

.awesome {
    background-color: rgb(244, 236, 11) !important;
}

.extra-div .lo:hover {
    transform: translateY(-30px);
    box-shadow: 8px 9px 13px 1px black;
    transition: all 0.3s;
}

.extra-div .lo1:hover {
    transform: translateY(-30px);
    box-shadow: -8px 9px 13px 1px black;
    transition: all 0.3s;
}

.awesome {
    transform: translateY(-30px);
    box-shadow: 0px 9px 13px 1px black;
    transition: all 0.3s;
}

.extra-div div h1 {
    margin: 1rem;
    color: black;

    font-family: 'Times New Roman', Times, serif;
}

.extra-div div i {
    filter: invert(100);
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 p {
    color: black;
}

/* *************footer***********88 */
footer {
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    color: #ffffff;
}

/* ****************sub part**************** */
#login {
    background-color: rgb(226, 216, 216);
    border-radius: 2px;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    margin: 1.3rem;
}

#login a {
    color: rgb(0, 0, 0);
}